{% extends 'user/base.html' %}
{% load static %}


{% block 'main' %}

<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="#">Home</a> / Buy</span>
    <h1>About Us</h1>
</div>
</div>
<!-- banner -->
<div>
  <img src="/images/banner3.jpg" alt="Italian Trulli" style= 'height:400px;width:1550px'>

</div>

<div class="container">
<div class="properties-listing spacer">

<div class="row">
<div class="col-lg-3 col-sm-4 hidden-xs">

</div>

<div class="col-lg-9 col-sm-8 ">

<h2><b>About us</b></h2>

  <div class="spacer">
  <p><h5>Book My PG is a technology-based platform for Booking PG, Serviced Apartments, Shared Flat and Rooms by Location with Specific requirement by filtering by Location, IT Parks, Land Mark, Price, Room type, Amenities, Gender and Food. Presently we have Launched in Platform in Chennai, Coimbatore and Bangalore. We will soon expand to all the Major Cities of the Country</h5></p>
  <h2><b>Who we are?</b></h2>
<p><h5>We are a set of well-selected and chosen Paying Guest services. This is a platform where those, who are willing to open their homes to guests, meet the people looking for wonderful homes to stay in and not have to look for hotels or favors in any city for their long stays. We ensure the places listed and the people looking for a stay are selected based on careful filtering criteria so that both parties benefit and the safety of all involved persons is ensured. We know how important a safe home is to you at both ends of the deal and that is a promise we make.</h5></p>

  </div>
 
  </div>

</div>
</div>
</div>


{% endblock %}